body {
  font-style: "Poppins", sans-serif;
  background: darkslategray;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

section.secondary {
  background: lightgray;
}

.grid {
  display: grid;
  grid-gap: 50px;
}

.grid-2-colums {
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 10px;
}

.grid-3-colums-with-links {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-colums {
  grid-template-columns: 1fr 1fr 1fr;
}

.embed {
  width: 100%;
  aspect-ratio: 1/1;
}

.card {
  background: white;
  margin-top: 30px 0;
  border-radius: 20px;
}

.card-header.grid {
  grid-gap: 0;
  aspect-ratio: 1/1;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 0 20px 20px;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #b184be;
  text-decoration: none;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("../images/willemstad.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 300px 0;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 20px;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: darkslategray;
  padding: 16px 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-transform: uppercase;
  background: white;
  text-decoration: none;
}
main {
  background-color: white;
}

main h2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  color: #778899;
  opacity: 0.7;
  text-transform: uppercase;
}

main h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: dimgray;
  margin: 0;
}
main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  margin: 0;
}

main h5 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: rgb(110, 98, 98);
  opacity: 0.7;
}

main img {
  width: 100%;
  display: block;
}

.img-responsive {
  width: 100%;
  display: block;
}

footer {
  color: white;
  background-image: linear-gradient(rgba(1, 78, 99, 0.8), rgba(1, 78, 99, 0.9)),
    url("../images/flag.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

footer h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 25px;
  }

  section {
    padding: 30px;
  }

  .card-header img {
    display: none;
  }

  .embed {
    aspect-ratio: 16/9;
  }
}
